.box{
 margin:2px;
  height:18vmin;
  width:18vmin; 
  background: yellowgreen;
  border:5px solid skyblue;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  font-size: 7vmin;
  color: red ;
}

body{
 background: sandybrown;
 text-align: center;
}

*{
  margin: 0px;
  padding: 0px;
}

.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.game{
  height: 60vmin;
 width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

#reset-btn{
  background: cadetblue;
  border: 1px solid blue;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}

#new-btn{
background: indianred;
  border: 1px solid blue;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 1rem;
}

#msg{
  color: ghostwhite;
  font-size: 8vmin;
}

.msg-container{
 height: 200vmin;
}

.hide{
  display: none;
}
